

.App-logo {
  height: 50px;
  pointer-events: none;
}


.App{
  background-color: #282c34;
  min-height: 100vh; 
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  font-size: calc(10px + 2vmin);
  color: white;
} 

.App header{
  width: calc(100vw - 20px);

  padding: 20px 10px;

  display:  flex;
  justify-content: flex-start;
  align-items: center;

  box-shadow: 0px 1px 5px rgba(1, 1, 1, 0.047);
  border-radius: 5px;
}

.App header span{
  font-size: 1.2em;
  color: #FFFFFF;
}


